/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import 'primeicons/primeicons.css';

/* Tus estilos globales van aquí abajo */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

/* styles.css */
.btn-outline {
  --p-button-outlined-primary-border-color: #041f6c;
  --p-button-outlined-primary-color: #041f6c;
  --p-button-outlined-primary-hover-background: #cfc8e0;
  --p-button-outlined-primary-active-background: #cfc8e0;
}

.btn-solid {
  --p-button-primary-background: #041f6c;
  --p-button-primary-hover-background: #031557;
  --p-button-primary-border-color: #041f6c;
  --p-button-primary-hover-border-color: #031557;
  --p-button-primary-color: #ffffff;
  --p-button-primary-hover-color: #ffffff;
}

.p-inputtext:enabled:focus {
  --p-inputtext-focus-border-color: #041f6c;
}

.nav-item-active {
  color: #041f6c !important;
  font-weight: 600 !important;
}

@media (max-width: 900px) {
  .p-menubar-button {
    order: -1;
  }
  .p-menubar-start {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .nav-item-active::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #041f6c;
    border-radius: 2px;
  }

  .p-menubar-item.p-focus > .p-menubar-item-content {
    background: transparent !important;
    border: 0px !important;
  }
}
