/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@import "tailwindcss";

// Tus estilos globales van aquí abajo
* { box-sizing: border-box; }

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}